# Data Cleaning: Weather


#### Data Source:
Weather data for the top 5 largest cities in spain was obtained from OpenWeatherMap. The data contains hourly information on teperature, pressure, rainfall, cloud index, and weather descrption.

#### Summary of cleaning actions:
- Add names to the cities
- Drop columns that contain no data
- Convert timestamps to datetimes and set a datetime index
- In columns with partial data, assume Nans are zero values.
- Set elements to lower case and remove speical characters in categorical columns


#### Function list:
1. get_clean_weather - takes in weather data and returns a cleaned set for the spain top 5 cities data

In [5]:
import pandas as pd

In [4]:
#import data
path = './data/weather/spain-weather-2013-2019.csv'
data = pd.read_csv(path)

In [5]:
#first look at the data
data.head(3)

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1380585600,2013-10-01 00:00:00 +0000 UTC,2509954,NaN,NaN,NaN,299.150,299.150,299.150,1008,...,NaN,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
1,1380589200,2013-10-01 01:00:00 +0000 UTC,2509954,NaN,NaN,NaN,298.150,298.150,298.150,1009,...,NaN,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
2,1380592800,2013-10-01 02:00:00 +0000 UTC,2509954,NaN,NaN,NaN,296.161,296.161,296.161,1009,...,NaN,NaN,0.0,NaN,NaN,10,800,Clear,sky is Clear,02

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263000 entries, 0 to 262999
Data columns (total 28 columns):
dt                     263000 non-null int64
dt_iso                 263000 non-null object
city_id                263000 non-null int64
city_name              0 non-null float64
lat                    0 non-null float64
lon                    0 non-null float64
temp                   263000 non-null float64
temp_min               263000 non-null float64
temp_max               263000 non-null float64
pressure               263000 non-null int64
sea_level              0 non-null float64
grnd_level             0 non-null float64
humidity               263000 non-null int64
wind_speed             263000 non-null int64
wind_deg               263000 non-null int64
rain_1h                27406 non-null float64
rain_3h                20017 non-null float64
rain_24h               0 non-null float64
rain_today             0 non-null float64
snow_1h                2 non-null float64
snow_3h                21589 non-null float64
snow_24h               0 non-null float64
snow_today             0 non-null float64
clouds_all             263000 non-null int64
weather_id             263000 non-null int64
weather_main           263000 non-null object
weather_description    263000 non-null object
weather_icon           263000 non-null object
dtypes: float64(16), int64(8), object(4)
memory usage: 56.2+ MB

In [8]:
def clean_weather_data(data):
    """
    Input: hourly bulk data export from OpenWeatherMaps.
    
    Output: cleaned data
    
    """

    
    #add city names
    city_codes = {3128760 : ' Barcelona', 
                  3117735 : 'Madrid', 
                  3128026 : 'Bilbao', 
                  2509954 : 'Valencia', 
                  6361046 : 'Seville'}
    
    data['city_name'] = data['city_id'].replace(city_codes)

    #drop all columns with only NaN values
    data = data.drop(['lat', 
                      'lon', 
                      'sea_level', 
                      'grnd_level', 
                      'rain_24h', 
                      'snow_today',
                      'rain_today', 
                      'snow_1h', 
                      'snow_24h'], axis=1)


    #convert timestamp to datetime object
    times = pd.to_datetime(data['dt'], unit='s', origin='unix')

    #convert the times to local time zone
    data['dt'] = times.dt.tz_localize('UTC').dt.tz_convert('Europe/Madrid').dt.strftime('%Y-%m-%d %H:%M:%S')

    #replace null values with zeros in columns with relevant informaiton
    nul_cols = ['rain_1h', 'rain_3h', 'snow_3h']
    data[nul_cols] = data[nul_cols].fillna(0)
    
    return data

In [8]:
data = get_clean_weather(data)
data.head(3)

,dt,dt_iso,city_id,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2013-10-01 02:00:00,2013-10-01 00:00:00 +0000 UTC,2509954,Valencia,299.150,299.150,299.150,1008,61,5,290,0.0,0.0,0.0,20,801,Clouds,few clouds,02n
1,2013-10-01 03:00:00,2013-10-01 01:00:00 +0000 UTC,2509954,Valencia,298.150,298.150,298.150,1009,65,4,250,0.0,0.0,0.0,20,801,Clouds,few clouds,02n
2,2013-10-01 04:00:00,2013-10-01 02:00:00 +0000 UTC,2509954,Valencia,296.161,296.161,296.161,1009,71,4,269,0.0,0.0,0.0,10,800,Clear,sky is Clear,02

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263000 entries, 0 to 262999
Data columns (total 19 columns):
dt                     263000 non-null object
dt_iso                 263000 non-null object
city_id                263000 non-null int64
city_name              263000 non-null object
temp                   263000 non-null float64
temp_min               263000 non-null float64
temp_max               263000 non-null float64
pressure               263000 non-null int64
humidity               263000 non-null int64
wind_speed             263000 non-null int64
wind_deg               263000 non-null int64
rain_1h                263000 non-null float64
rain_3h                263000 non-null float64
snow_3h                263000 non-null float64
clouds_all             263000 non-null int64
weather_id             263000 non-null int64
weather_main           263000 non-null object
weather_description    263000 non-null object
weather_icon           263000 non-null object
dtypes: float64(6), int64(7), object(6)
memory usage: 38.1+ MB

#### Converting temperatures

The min and max temperatures look to be the same as the hourly temperature indicated. We will check to see if this is always the case. If this is the case these columns will be removed.

In [17]:
diff_temp_min = (data['temp'] == data['temp_min']).sum()/len(data)
diff_temp_max = (data['temp'] == data['temp_max']).sum()/len(data)
diff_min_max = (data['temp_min'] == data['temp_max']).sum()/len(data)
print('Percentage of values different between temperature and min temperature {}'.format(diff_temp_min))
print('Percentage of values different between temperature and max temperature {}'.format(diff_temp_min))
print('Percentage of values different between min and max temperature {}'.format(diff_temp_min))

Percentage of values different between temperature and min temperature 0.3512661596958175
Percentage of values different between temperature and max temperature 0.3512661596958175
Percentage of values different between min and max temperature 0.3512661596958175

In this case there are differences between the columns values and the data will be kept.

#### Checking categorical columns

The columns weather_main and weather_description contain categorical information. We will investigate their vlaues and see if any information reduction is possible.

In [22]:
#investigate values in the weather main
data['weather_main'].value_counts(dropna=False)

Clear           118166
Clouds          107307
Rain             24748
Mist              4873
Fog               3016
Drizzle           2333
Thunderstorm      1319
Haze               491
Dust               404
Snow               297
Smoke               43
Squall               1
Sand                 1
Tornado              1
Name: weather_main, dtype: int64

In [21]:
#investigate values in the weather main
data['weather_description'].value_counts(dropna=False)

Sky is Clear                        100334
few clouds                           52151
broken clouds                        25835
scattered clouds                     24462
light rain                           15131
sky is Clear                         11466
moderate rain                         5690
mist                                  4873
overcast clouds                       4859
clear sky                             4244
fog                                   3016
sky is clear                          2122
heavy intensity rain                  1719
light intensity drizzle               1613
light intensity shower rain            806
proximity shower rain                  572
shower rain                            560
proximity thunderstorm                 555
drizzle                                542
haze                                   491
thunderstorm                           440
dust                                   399
thunderstorm with rain                 170
very heavy rain                        161
light snow                             156
light intensity drizzle rain           116
thunderstorm with light rain           113
heavy intensity shower rain            104
snow                                    80
smoke                                   43
thunderstorm with heavy rain            38
rain and drizzle                        31
heavy intensity drizzle                 26
light rain and snow                     23
sleet                                   13
rain and snow                           13
proximity moderate rain                  4
light shower sleet                       4
Sand/Dust Whirls                         3
heavy intensity rain and drizzle         3
heavy snow                               3
light shower snow                        3
light thunderstorm                       2
sand,dust whirls                         2
proximity drizzle                        2
SQUALLS                                  1
ragged shower rain                       1
tornado                                  1
shower sleet                             1
shower snow                              1
sand                                     1
ragged thunderstorm                      1
Name: weather_description, dtype: int64

The weather_descrption column appears to be a subcategory of lower granularity information to the weather_main column. Something to consider in the features selection process is if this adds relevant additional information. In this step however we will make all fields lowercase, and remove special characters.

In [2]:
def clean_descrption_cols(data):
    """
    small function that sets the descrption columns to lower case, and removes special characters from the names.
    
    """
    
    #make each element in the columns lowercase
    data[['weather_main', 'weather_description']] = data[['weather_main', 'weather_description']].apply(lambda x: x.str.lower())
    
    #remove spcial characters
    special_chars = [',', '/', ':', ';', '-']
    
    for char in special_chars:
        data['weather_description'] = data['weather_description'].str.replace(char,' ')
        
    return data

In [28]:
data = clean_descrption_cols(data)

#### Export the data

In [30]:
data.to_csv('./data/weather_2013_2019.csv')

In [11]:
def get_weather_data(path='./data/weather/spain-weather-2013-2019.csv'):

    data = pd.read_csv(path)
    
    weather_data = clean_weather_data(data)
    weather_data = clean_descrption_cols(weather_data)
    
    return weather_data

In [12]:
get_weather_data()

,dt,dt_iso,city_id,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2013-10-01 02:00:00,2013-10-01 00:00:00 +0000 UTC,2509954,Valencia,299.150000,299.150000,299.150000,1008,61,5,290,0.0,0.0,0.0,20,801,clouds,few clouds,02n
1,2013-10-01 03:00:00,2013-10-01 01:00:00 +0000 UTC,2509954,Valencia,298.150000,298.150000,298.150000,1009,65,4,250,0.0,0.0,0.0,20,801,clouds,few clouds,02n
2,2013-10-01 04:00:00,2013-10-01 02:00:00 +0000 UTC,2509954,Valencia,296.161000,296.161000,296.161000,1009,71,4,269,0.0,0.0,0.0,10,800,clear,sky is clear,02
3,2013-10-01 05:00:00,2013-10-01 03:00:00 +0000 UTC,2509954,Valencia,297.150000,297.150000,297.150000,1008,69,1,250,0.0,0.0,0.0,20,801,clouds,few clouds,02n
4,2013-10-01 06:00:00,2013-10-01 04:00:00 +0000 UTC,2509954,Valencia,294.031687,294.031687,294.031687,1009,78,4,288,0.0,0.0,0.0,0,800,clear,sky is clear,01
5,2013-10-01 07:00:00,2013-10-01 05:00:00 +0000 UTC,2509954,Valencia,293.891313,293.891313,293.891313,1009,78,4,288,0.0,0.0,0.0,0,800,clear,sky is clear,01
6,2013-10-01 08:00:00,2013-10-01 06:00:00 +0000 UTC,2509954,Valencia,297.905500,297.905500,297.905500,1009,65,5,267,0.0,0.0,0.0,15,801,clouds,few clouds,02
7,2013-10-01 09:00:00,2013-10-01 07:00:00 +0000 UTC,2509954,Valencia,299.150000,299.150000,299.150000,1009,61,5,260,0.0,0.0,0.0,20,801,clouds,few clouds,02d
8,2013-10-01 10:00:00,2013-10-01 08:00:00 +0000 UTC,2509954,Valencia,299.352000,299.352000,299.352000,1009,57,4,270,0.0,0.0,0.0,10,800,clear,sky is clear,02
9,2013-10-01 11:00:00,2013-10-01 09:00:00 +0000 UTC,2509954,Valencia,301.950000,301.950000,301.950000,1009,49,5,272,0.0,0.0,0.0,20,801,clouds,few clouds,02
10,2013-10-01 12:00:00,2013-10-01 10:00:00 +0000 UTC,2509954,Valencia,301.752656,301.752656,301.752656,1010,45,5,284,0.0,0.0,0.0,6,800,clear,sky is clear,02
11,2013-10-01 13:00:00,2013-10-01 11:00:00 +0000 UTC,2509954,Valencia,303.951312,303.951312,303.951312,1009,38,5,287,0.0,0.0,0.0,13,801,clouds,few clouds,02
12,2013-10-01 14:00:00,2013-10-01 12:00:00 +0000 UTC,2509954,Valencia,306.150000,306.150000,306.150000,1009,31,6,290,0.0,0.0,0.0,20,801,clouds,few clouds,02d
13,2013-10-01 15:00:00,2013-10-01 13:00:00 +0000 UTC,2509954,Valencia,307.150000,307.150000,307.150000,1008,30,7,260,0.0,0.0,0.0,20,801,clouds,few clouds,02d
14,2013-10-01 16:00:00,2013-10-01 14:00:00 +0000 UTC,2509954,Valencia,305.228000,305.228000,305.228000,1008,32,6,263,0.0,0.0,0.0,10,800,clear,sky is clear,02
15,2013-10-01 17:00:00,2013-10-01 15:00:00 +0000 UTC,2509954,Valencia,304.335594,304.335594,304.335594,1008,34,6,263,0.0,0.0,0.0,12,801,clouds,few clouds,02
16,2013-10-01 18:00:00,2013-10-01 16:00:00 +0000 UTC,2509954,Valencia,302.242000,302.242000,302.242000,1008,37,5,267,0.0,0.0,0.0,0,800,clear,sky is clear,01
17,2013-10-01 19:00:00,2013-10-01 17:00:00 +0000 UTC,2509954,Valencia,301.178000,301.178000,301.178000,1009,38,5,267,0.0,0.0,0.0,0,800,clear,sky is clear,01
18,2013-10-01 20:00:00,2013-10-01 18:00:00 +0000 UTC,2509954,Valencia,300.232000,300.232000,300.232000,1009,43,5,272,0.0,0.0,0.0,4,800,clear,sky is clear,02
19,2013-10-01 21:00:00,2013-10-01 19:00:00 +0000 UTC,2509954,Valencia,299.128656,299.128656,299.128656,1009,43,5,271,0.0,0.0,0.0,2,800,clear,sky is clear,02
20,2013-10-01 22:00:00,2013-10-01 20:00:00 +0000 UTC,2509954,Valencia,298.143344,298.143344,298.143344,1010,46,5,274,0.0,0.0,0.0,5,800,clear,sky is clear,02
21,2013-10-01 23:00:00,2013-10-01 21:00:00 +0000 UTC,2509954,Valencia,297.434500,297.434500,297.434500,1010,51,5,275,0.0,0.0,0.0,0,800,clear,sky is clear,01
22,2013-10-02 00:00:00,2013-10-01 22:00:00 +0000 UTC,2509954,Valencia,296.357000,296.357000,296.357000,1010,54,4,278,0.0,0.0,0.0,5,800,clear,sky is clear,02
23,2013-10-02 01:00:00,2013-10-01 23:00:00 +0000 UTC,2509954,Valencia,295.556000,295.556000,295.556000,1010,58,4,280,0.0,0.0,0.0,2,800,clear,sky is clear,02
24,2013-10-02 02:00:00,2013-10-02 00:00:00 +0000 UTC,2509954,Valencia,297.902000,297.902000,297.902000,1009,52,4,249,0.0,0.0,0.0,2,800,clear,sky is clear,02
25,2013-10-02 03:00:00,2013-10-02 01:00:00 +0000 UTC,2509954,Valencia,298.150000,298.150000,298.150000,1009,53,4,240,0.0,0.0,0.0,0,800,clear,sky is clear,01n
26,2013-10-02 04:00:00,2013-10-02 02:00:00 +0000 UTC,2509954,Valencia,297.650000,297.650000,297.650000,1009,55,2,120,0.0,0.0,0.0,0,800,clear,sky is clear,01
27,2013-10-02 05:00:00,2013-10-02 03:00:00 +0000 UTC,2509954,Valencia,297.150000,297.150000,297.150000,1009,57,1,0,0.0,0.0,0.0,0,800,clear,sky is clear,01n
28,2013-10-02 06:00:00,2013-10-02 04:00:00 +0000 UTC,2509954,Valencia,295.230344,295.230344,295.230344,1009,62,1,99,0.0,0.0,0.0,10,800,clear,sky is clear,02
29,2013-10-02 07:00:00,2013-10-02 05:00:00 +0000 UTC,2509954,Valencia,293.310656,293.310656,293.310656,1010,68,1,199,0.0,0.0,0.0,21,801,clouds,few clouds,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262970,2019-08-24 21:00:00,2019-08-24 19:00:00 +0000 UTC,6361046,Seville,305.730000,303.710000,308.150000,1013,24,5,230,0.0,0.0,0.0,0,800,clear,clear sky,01n
262971,2019-08-24 22:00:00,2019-08-24 20:00:00 +0000 UTC,6361046,Seville,303.140000,301.480000,305.150000,1013,29,4,230,0.0,0.0,0.0,0,800,clear,clear sky,01n
262972,2019-08-24 23:00:00,2019-08-24 21:00:00 +0000 UTC,6361046,Seville,299.710000,298.150000,302.150000,1016,57,5,240,0.0,0.0,0.0,0,800,clear,clear sky,01n
262973,2019-08-25 00:00:00,2019-08-24 22:00:00 +0000 UTC,6361046,Seville,299.230000,297.150000,301.150000,1016,64,4,250,0.0,0.0,0.0,0,800,clear,clear sky,01n
262974,2019-08-25 01:00:00,2019-08-24 23:00:00 +0000 UTC,6361046,Seville,297.720000,296.150000,300.150000,1016,69,2,230,0.0,0.0,0.0,0,800,clear,clear sky,01n
262975,2019-08-25 02:00:00,2019-08-25 00:00:00 +0000 UTC,6361046,Seville,297.130000,295.930000,299.150000,1016,54,3,240,0.0,0.0,0.0,0,800,clear,clear sky,01n
262976,2019-08-25 03:00:00,2019-08-25 01:00:00 +0000 UTC,6361046,Seville,296.910000,295.150000,298.150000,1016,68,1,120,0.0,0.0,0.0,0,800,clear,clear sky,01n
262977,2019-08-25 04:00:00,2019-08-25 02:00:00 +0000 UTC,6361046,Seville,295.190000,294.150000,296.150000,1016,77,2,100,0.0,0.0,0.0,0,800,clear,clear sky,01n
262978,2019-08-25 05:00:00,2019-08-25 03:00:00 +0000 UTC,6361046,Seville,295.480000,294.150000,296.150000,1015,73,1,70,0.0,0.0,0.0,0,800,clear,clear sky,01n
262979,2019-08-25 06:00:00,2019-08-25 04:00:00 +0000 UTC,6361046,Seville,295.040000,293.150000,296.150000,1015,72,1,70,0.0,0.0,0.0,0,800,clear,clear sky,01n
262980,2019-08-25 07:00:00,2019-08-25 05:00:00 +0000 UTC,6361046,Seville,294.400000,292.150000,295.370000,1015,68,1,48,0.0,0.0,0.0,0,800,clear,clear sky,01n
262981,2019-08-25 08:00:00,2019-08-25 06:00:00 +0000 UTC,6361046,Seville,292.930000,292.150000,294.150000,1015,68,1,0,0.0,0.0,0.0,0,800,clear,clear sky,01d
262982,2019-08-25 09:00:00,2019-08-25 07:00:00 +0000 UTC,6361046,Seville,294.490000,294.150000,295.150000,1015,68,1,48,0.0,0.0,0.0,0,800,clear,clear sky,01d
262983,2019-08-25 10:00:00,2019-08-25 08:00:00 +0000 UTC,6361046,Seville,298.170000,297.150000,298.710000,1016,53,2,83,0.0,0.0,0.0,20,801,clouds,few clouds,02d
262984,2019-08-25 11:00:00,2019-08-25 09:00:00 +0000 UTC,6361046,Seville,300.200000,299.150000,301.150000,1015,42,3,350,0.0,0.0,0.0,0,800,clear,clear sky,01d
262985,2019-08-25 12:00:00,2019-08-25 10:00:00 +0000 UTC,6361046,Seville,302.420000,302.040000,303.150000,1015,33,0,0,0.0,0.0,0.0,0,800,clear,clear sky,01d
262986,2019-08-25 13:00:00,2019-08-25 11:00:00 +0000 UTC,6361046,Seville,303.690000,303.150000,304.260000,1014,31,1,0,0.0,0.0,0.0,0,800,clear,clear sky,01d
262987,2019-08-25 14:00:00,2019-08-25 12:00:00 +0000 UTC,6361046,Seville,305.250000,304.820000,306.150000,1014,27,1,0,0.0,0.0,0.0,0,800,clear,clear sky,01d
262988,2019-08-25 15:00:00,2019-08-25 13:00:00 +0000 UTC,6361046,Seville,306.170000,305.150000,307.150000,1013,24,3,200,0.0,0.0,0.0,0,800,clear,clear sky,01d
262989,2019-08-25 16:00:00,2019-08-25 14:00:00 +0000 UTC,6361046,Seville,306.490000,305.370000,308.150000,1012,24,2,0,0.0,0.0,0.0,0,800,clear,clear sky,01d
262990,2019-08-25 17:00:00,2019-08-25 15:00:00 +0000 UTC,6361046,Seville,306.510000,305.370000,308.710000,1011,24,1,240,0.0,0.0,0.0,0,800,clear,clear sky,01d
262991,2019-08-25 18:00:00,2019-08-25 16:00:00 +0000 UTC,6361046,Seville,306.440000,305.930000,307.150000,1011,28,4,250,0.0,0.0,0.0,0,800,clear,clear sky,01d
262992,2019-08-25 19:00:00,2019-08-25 17:00:00 +0000 UTC,6361046,Seville,306.380000,305.930000,307.150000,1011,31,6,240,0.0,0.0,0.0,0,800,clear,clear sky,01d
262993,2019-08-25 20:00:00,2019-08-25 18:00:00 +0000 UTC,6361046,Seville,304.450000,303.710000,305.370000,1011,38,5,250,0.0,0.0,0.0,0,800,clear,clear sky,01d
262994,2019-08-25 21:00:00,2019-08-25 19:00:00 +0000 UTC,6361046,Seville,302.950000,301.480000,304.260000,1011,38,5,230,0.0,0.0,0.0,0,800,clear,clear sky,01n
262995,2019-08-25 22:00:00,2019-08-25 20:00:00 +0000 UTC,6361046,Seville,300.490000,299.260000,302.150000,1012,47,3,250,0.0,0.0,0.0,0,800,clear,clear sky,01n
262996,2019-08-25 23:00:00,2019-08-25 21:00:00 +0000 UTC,6361046,Seville,299.750000,298.150000,301.150000,1013,54,3,260,0.0,0.0,0.0,0,800,clear,clear sky,01n
262997,2019-08-26 00:00:00,2019-08-25 22:00:00 +0000 UTC,6361046,Seville,298.830000,297.150000,300.150000,1013,60,2,310,0.0,0.0,0.0,0,800,clear,clear sky,01n
262998,2019-08-26 01:00:00,2019-08-25 23:00:00 +0000 UTC,6361046,Seville,297.890000,296.480000,300.150000,1013,57,2,299,0.0,0.0,0.0,0,800,clear,clear sky,01n
262999,2019-08-26 02:00:00,2019-08-26 00:00:00 +0000 UTC,6361046,Seville,297.590000,295.930000,299.150000,1013,50,3,270,0.0,0.0,0.0,61,803,clouds,broken clouds,04n